*{
    /*Quitamos margenes y rellenos de nuestra página*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*Añadimos imagen de fondo*/
    background:url('material/viñedo.PNG') no-repeat center center;
    min-height:100%;
    background-size:cover;
}
.navegador {
    width: 100%;
    /*margin: 30px auto;*/
    background-color: white;
    background-size: cover;
}
.navegador>ul{
    list-style: none;/*Quitamos caracteristicas de lista de ul's dentro del navegador*/
    text-align: center;
}
.menu>li{
    position: relative;
    display: inline-block;/*Le damos un estilo en linea*/
}
.menu>li>a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}
.menu li a:hover{
    color: burlywood;
}
.submenu{
    position: absolute;
    width: 170px;
    display: none;
    background-color: white;
}
.submenu>li{
    list-style: none;
    text-align: left;
    display: block;
}
.submenu li a{
    position: relative;
    display: block;
    padding: 15px;
    text-decoration: none;
    color:black;
}

.menu li:hover .submenu{
    display: block;
}
.formulario{

    text-align: left;
    width: 200px;
    height: max-content;
    display: block;
    background-color: white;
}
.formulario>input, select{
    margin: 20px;
    border-radius: 15px;
    width: 120px;
    height: 30px;
}

.formulario>h3{
    margin: 15px;
}
#stock{
    margin: 6px;
}